.cards {
  margin-top: 2rem;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  justify-content: center;
  gap: 0.5rem;
}

.cards__item {
  height: calc(80vh / 7);
}

.cards__image {
  height: inherit;
}

@media screen and (orientation: landscape) {
  .cards__list {
    /* grid-template-columns: repeat(6, 4rem); */
  }

  .cards__item {
    height: calc(80vh / 7);
  }
}
